# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.pytest_cache/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.spec

# Logs
*.log
data/
tmp/
*.db
*.db-wal
*.db-shm

# Uploads (для дева)
uploads/
*.pptx
!samples/*.pptx
!docs/**/*.pptx
